@using eShopSolution.ViewModel.Common;

@model PageResult<eShopSolution.ViewModel.System.Users.UserVM>

@{
    ViewData["Title"] = "List Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int stt = 1;
}

@section DeleteSuccess {
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
<div class="row">
    <div class="col-lg-12 stretch-card grid-margin">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title" localize-content>List of users</h3>
                <p class="card-description">
                   
                </p>
                @if (ViewBag.DeleteSuccess != null)
                {
                    <div class="row">
                        <div id="msgAlert" class="alert alert-success" role="alert">
                            @ViewBag.DeleteSuccess
                        </div>
                    </div>
                }
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Stt
                            </th>
                            <th>
                                <localize>User name</localize>
                            </th>
                            <th>
                                <localize>First name</localize>
                                
                            </th>
                            <th>
                                <localize>Last name</localize>
                                

                            </th>
                            <th>
                                <localize>Dob</localize>
                                
                            </th>
                            <th>
                                
                                Email
                            </th>
                            <th>
                                <localize>Phone number</localize>
                                
                            </th>
                            <th>
                                <localize>Options</localize>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr >
                                <td>
                                    @stt
                                </td>
                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FristName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dob)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id =item.Id}) |
                                    @Html.ActionLink("Assign", "RoleAssign", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new {  id=item.Id, userName=item.UserName })
                                </td>
                            </tr>
                            stt++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
